header {
  text-align: center;
  background-color: #484848;
  color: white;
}

#parent1 {
  border-style: dotted;
}

.card-body {
  border-style: solid;
}

#parent2 {
  float: right;
  border-style: solid;
  margin: 20px;
  width: 100%;
}
